# MTK connectivity .rc configure
on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#

# WiFi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

# BT relayer mode used VCOM
    chown bluetooth bluetooth /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

#
# Connectivity related device nodes & configuration (end)
#


on boot

#
# Connectivity related services (Begin)
#

on property:persist.vendor.em.dy.debug=1
    stop lbs_dbg

#
# Connectivity related services (End)
#
